---
layout: default
title: Advanced Entry Bridging Module 2014
---

<div>
    <div class="col-lg-12">
        <img alt="dit_logo" src="/assets/img/dit_crest_2010.gif" width="10%"/>
        <img alt="dit_logo_text" src="/assets/img/dit_logo_text.png" width="35%"/>
        <img alt="school_of_computing" src="/assets/img/3854659390-1.jpg" width="30%" class="pull-right"/>

        <h3>Kevin St. (August 25th - 29th, 2014)</h3>
	<a href="https://twitter.com/__bjg" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @__bjg</a>
	<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
        <br/>

        <br/>
    </div>
    <div class="site-welcome-video">
	<iframe src="https://docs.google.com/file/d/0BzhX4YqqO2cKLWE1N3ZrQzFiNDA/preview?html5=1" width="850" height="480">
	</iframe>
    </div>
    <div class="row">
        <div class="well site-unit-body">
            <p class="site-unit-text"> {% include unit0.html %} </p>
        </div>

        <div class="well site-unit-body">
            <p class="site-unit-text"> {% include unit1.html %} </p>
        </div>

	<!--
        <div class="well col-lg-8 site-unit-body">
            <a name="unit2"><h3 class="pull-left">2</h3></a>

            <p class="site-unit-text"> {% include unit2.html %} </p>
        </div>

        <div class="well col-lg-8 site-unit-body">
            <a name="unit3"><h3 class="pull-left">3</h3></a>

            <p class="site-unit-text"> {% include unit3.html %} </p>
        </div>

        <div class="well col-lg-8 site-unit-body">
            <a name="unit4"><h3 class="pull-left">4</h3></a>

            <p class="site-unit-text"> {% include unit4.html %} </p>
        </div>

        <div class="well col-lg-8 site-unit-body">
            <a name="unit5"><h3 class="pull-left">5</h3></a>

            <p class="site-unit-text"> {% include unit5.html %} </p>
        </div>
        -->

    </div>
    <!--/row-->
</div><!--/span-->

