<a name="unit1"></a>
<h2>2. Core Programming Skills</h2>

<p>
In this segment, we will review core programming skills and concepts using the Go
programming language. You should watch the lectures as they come available and then
attempt the exercises which follow. We will review this material and solutions in class
</p>

<div>
    <div class="col-md-8" class="site-lesson-button">
        <h4>2.1 Introduction to Go</h4>
    </div>
    <div class="col-md-4">
        <button class="btn btn-success btn-sm" data-toggle="modal" data-target=".site-video-intro-to-go">
            <span class="glyphicon glyphicon-film"></span>
            Lecture
	</button>
        <a type="button" class="btn btn-success btn-sm" href="http://go-talks.appspot.com/github.com/bjg/2014-dt2xx-aem/slides/golang/golang.slide#1" target="_blank">
            <span class="glyphicon glyphicon-list-alt"></span>
            Slides
        </a>
        <a type="button" class="btn btn-success btn-sm" href="http://go-talks.appspot.com/github.com/bjg/2014-dt2xx-aem/slides/golang/ps1.slide#1" target="_blank">
            <span class="glyphicon glyphicon-folder-open"></span>
            Exercises
        </a>
    </div>
</div>


<div class="modal fade site-video site-video-intro-to-go" tabindex="-1" role="dialog" aria-labelledby="VideoPlayer" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
	        <video controls width="850" height="480" style="margin-left:8px" poster="/assets/img/welcome-splash.png">
                    <source src="https://dl.dropboxusercontent.com/u/1688210/DIT/GoProgramming.webm" type='video/webm'/>
		    <source src="https://dl.dropboxusercontent.com/u/1688210/DIT/GoProgramming.mp4" type='video/mp4'/>
		</video>
	    </div>
	    <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div>
    <div class="col-md-8" class="site-lesson-button">
        <h4>2.2 Objects, Methods and Interfaces</h4>
    </div>
    <div class="col-md-4">
        <button class="btn btn-success btn-sm" data-toggle="modal" data-target=".site-video-datastructures">
            <span class="glyphicon glyphicon-film"></span>
            Lecture
	</button>
        <a type="button" class="btn btn-success btn-sm" href="http://go-talks.appspot.com/github.com/bjg/2014-dt2xx-aem/slides/golang/datastructures.slide#1" target="_blank">
            <span class="glyphicon glyphicon-list-alt"></span>
            Slides
        </a>
        <a type="button" class="btn btn-success btn-sm" href="http://go-talks.appspot.com/github.com/bjg/2014-dt2xx-aem/slides/golang/ps2.slide#1" target="_blank">
            <span class="glyphicon glyphicon-folder-open"></span>
            Exercises
        </a>
    </div>
</div>


<div class="modal fade site-video site-video-datastructures" tabindex="-1" role="dialog" aria-labelledby="VideoPlayer" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
	        <video controls width="850" height="480" style="margin-left:8px" poster="/assets/img/welcome-splash.png">
                    <source src="https://dl.dropboxusercontent.com/u/1688210/DIT/DataStructures.webm" type='video/webm'/>
		    <source src="https://dl.dropboxusercontent.com/u/1688210/DIT/DataStructures.mp4" type='video/mp4'/>
		</video>
	    </div>
	    <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
