<a name="unit2"></a>
<h2>3. Relational Database Fundamentals</h2>

<p>
In this segment, we will review basic relational database fundamentals by working with a simple data set
</p>

<div>
    <div class="col-md-8" class="site-lesson-button">
        <h4>3.1 Simple Data Analyis With SQL</h4>
    </div>
    <div class="col-md-4">
        <button class="btn btn-default btn-sm" data-toggle="modal" data-target=".site-video-intro-to-db">
            <span class="glyphicon glyphicon-film"></span>
            Lecture
	</button>
        <button type="button" class="btn btn-default btn-sm" href="" target="_blank">
            <span class="glyphicon glyphicon-list-alt"></span>
            Slides
        </button>
        <a type="button" class="btn btn-success btn-sm" href="http://go-talks.appspot.com/github.com/bjg/2014-dt2xx-aem/slides/db/ps31.slide#1" target="_blank">
            <span class="glyphicon glyphicon-folder-open"></span>
            Exercises
        </a>
    </div>
</div>


<div class="modal fade site-video site-video-intro-to-go" tabindex="-1" role="dialog" aria-labelledby="VideoPlayer" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
	        <video controls width="850" height="480" style="margin-left:8px" poster="/assets/img/welcome-splash.png">
                    <source src="https://dl.dropboxusercontent.com/u/1688210/DIT/GoProgramming.webm" type='video/webm'/>
		    <source src="https://dl.dropboxusercontent.com/u/1688210/DIT/GoProgramming.mp4" type='video/mp4'/>
		</video>
	    </div>
	    <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
