<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

    <style type="text/css">
        body {
            padding-top: 100px;
            padding-bottom: 40px;
        }

        .sidebar-nav {
            padding: 9px 0;
        }
    </style>

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="../assets/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">

    <link href="../assets/css/site.css" rel="stylesheet">
</head>

<body>

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
	    <h3><a class="brand" href="/">{{ page.title }}</a></h3>

            <div class="nav-collapse collapse">
                <p class="navbar-text pull-right">
                    <a href="mailto:brian.x.gillespie@git.ie">brian.x.gillespie@dit.ie</a>
                </p>
                <ul class="nav">
                    <li class="active"><a href="http://www.comp.dit.ie">School Of Computing</a></li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-3">
            <div class="well sidebar-nav">
                <ul class="nav nav-list">
                    <li class="h4 nav-header">Module Syllabus</li>
                    <li class="active"><a href="#unit0">Foundational Maths Review</a></li>
                    <li><a href="#unit1">Core Programming Skills</a></li>
                    <li><a href="#unit2">Database Fundamentals</a></li>
                    <li><a href="https://github.com/bjg/2014-dt2xx-aem.git">Module Code Repository (Github)</a></li>
		    <li><a href="/public/Mac_OSX_Shell.pdf">Mac Command Line Primer</a></li>

                    <li class="h4 nav-header">DIT</li>
                    <li><a href="http://www.comp.dit.ie">School Of Computing</a></li>
                    <li><a href="/public/DT211-Part-B-v18_11_2011.pdf">DT211 Course Description</a></li>
                    <li><a href="/public/dt228_b-ver1.1-official.pdf">DT228 Course Description</a></li>
                    <li>
                        <a href="http://www.dit.ie/colleges/collegeofsciencesandhealth/studentresources/mathsresources/">Maths
                            Resources</a></li>
                    <li class="h4 nav-header">External Resources</li>
                    <li><a href="https://www.codeschool.com/courses/try-git">Git Source Code Control</a></li>
                    <li><a href="http://www.khanacademy.org">Khan Academy</a></li>
                    <li><a href="https://coursera.org">Coursera</a></li>
                    <li><a href="https://www.edx.org">edX</a></li>
                    <li><a href="http://udacity.com">Udacity</a></li>
                    </li>
                </ul>
            </div>
            <!--/.well -->
        </div>
        <!--/span-->

        <div class="col-lg-9">
            {{ content }}
	</div>

    </div>
    <!--/row-->

    <hr>

    <footer>
        <p style="text-align:center"> Copyright DIT School of Computing 2014 </p>
    </footer>

</div>

<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>

<!-- Latest compiled and minified JavaScript -->
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

<script>
    $('.site-video').on('hidden.bs.modal', function (e) {
        $(e.currentTarget).find('video').trigger('pause');
    }); 
</script>

</body>
</html>
